
@model RecuperosYMandatos.Models.Deudor
<div id='datosContacto'>
    @using (Ajax.BeginForm("Pregunta1", "Preguntas", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "datosContacto", OnBegin = "return deudor.confirmarDatosContacto();" }))
    {
        <div class="row" >
            <div class="">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>Por favor, ingrese sus datos de contacto para continuar con la registración.</h3>
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
                <div class="form-bottom" id="contenedordatosContacto" style="height:100%;">
                    @Html.HiddenFor(model => model.ID)
                    <div class="form-group" align="center">
                            <label>Número de identificación proporcionado</label>
                            <input type="text" name="ID" placeholder="" value="12345678" class="my-el protip1" style="width:110px;">
                      </div>
                    <div class="form-group" align="center">
                        <input type="text" name="Email" placeholder="Email" class="my-nombre protip" id="email" style="width:485px;">
                    </div>
                    <div class="form-group" align="center">
                        <input type="text" name="Codarea" placeholder="Cód.área" class="my-nombre protip" id="celular" style="width:100px;">
                        <input type="text" name="Prefijo1" placeholder="Prefijo" class="my-nombre protip" id="celular1" style="width:85px;">
                        <input type="text" name="Prefijo" placeholder="Número de teléfono" class="my-nombre protip" id="celular2" style="width:160px;">
                        @Html.DropDownList("Compania", new List<SelectListItem>() { new SelectListItem() { Text = "Claro", Value = "#" },
                         new SelectListItem() { Text = "Personal", Value = "#" }, }, "Compañia", new { @style = "height:40px; width:130px; font-size:13px; padding-bottom: 8px;", @class = "form-control" })
                    </div>
                    <div class="form-group" align="center">
                        @Html.DropDownList("Pais", new List<SelectListItem>() {new SelectListItem() { Text = "Argentina", Value = "#" },
                        new SelectListItem() { Text = "Mexico", Value = "#" }, }, "Pais", new { @style = "height:40px; width:237px; font-size:13px;", @class = "form-control" })
                        @Html.DropDownList("Provincia", new List<SelectListItem>() { new SelectListItem() { Text = "Buenos Aires", Value = "#" },
                        new SelectListItem() { Text = "Santa Fe", Value = "#" }, }, "Provincia", new { @style = "height:40px; width:237px; font-size:13px;", @class = "form-control" })
                    </div>
                    <div class="form-group" align="center">
                        @Html.DropDownList("ee", new List<SelectListItem>() { new SelectListItem() { Text = "CUIT", Value = "#" },
                        }, "CUIT", new { @style = "height:40px; width:150px; font-size:13px;", @class = "form-control" })
                        <input type="text" name="Prefijos" placeholder="Su identidad" class="my-nombre protip" id="celular3" style="height:40px;width:324px;">
                    </div>
                    <div class="form-group" align="center">
                        @Html.DropDownList("www", new List<SelectListItem>() { new SelectListItem() { Text = "CUIT", Value = "#" },
                       new SelectListItem() { Text = "CUIL", Value = "#" }, }, "CUIT", new { @style = "height:40px; width:150px; font-size:13px;", @class = "form-control" })
                        <input type="text" name="Prefijoa" placeholder="Identidad Persona Jurídica" class="my-nombre protip" id="celular4" style="height:40px;width:324px;">
                    </div>
                    <div class="form-group" align="center">
                        @Html.DropDownList("www", new List<SelectListItem>() { new SelectListItem() { Text = "¿Cómo se llama mi mascota?", Value = "#" }, }, "Seleccione su pregunta de Seguridad", new { @style = "height:40px; width:474px; font-size:13px;", @class = "form-control" })
                    </div>
                    <div class="form-group" align="center">
                        <input type="text" name="Prefijoa" placeholder="Respuesta" class="my-nombre protip" id="celular4" style="height:40px;width:474px;">
                    </div>
                    <div class="form-group" align="center">
                        <label>Se enviará un código de activación a su celular, por SMS y enlace de reactivación por e@mail - VERIFIQUE EN SU CASILLA DE SPAM -</label>
                    </div>

                    <div class="form-group" align="center">
                        <button type="submit" class="btn">Iniciar Registro</button>
                    </div>
                </div>
            </div>

        </div>
    }
    </div>
